<body class="landing-page">

<p class="logo">Prolific</p>
<span class="sign-in-btn">Sign-in</span>

<div class="icon"><%= image_tag "abacus.png" %></div>
<section>
  <div class="shim"></div>
  <div class="sign-in-form"><%= render "home/signin_form" %></div>
</section>
</body>
