<body class="landing-page">

<span class="sign-in-btn">Sign-In</span>
<span class="sign-up-btn">Sign-Up</span>
<h2>New habits can be the small steps we take each day toward our goals</h2>
<section>
  <div class="shim"></div>
  <div class="sign-in-form"><%= render "home/signin_form" %></div>
  <div class="sign-up-form"><%= render "home/signup_form" %></div>
</section>


</body>
