<body class="landing-page">

<h2 class="byline">Build new habits<br>with the help of the habits<br>you have already</h2>
<p class="description">Inspired by BJ Fogg&rsquo;s <a href="http://www.tinyhabits.com", target="blank">Tiny Habits</a> and Allison House&rsquo;s talk on <a href="http://www.giantrobots.fm/121", target="blank">Prolificness</a>,<br> Habitual is a place to create new habits that will help you reach your long term goals</p>

<div class="seperator">
  <span class="seperator-title">HABITUAL</span>
</div>

<div class="footer">
  <div class="buttons">
<span class="sign-in-btn">Sign-In</span>
<span class="sign-up-btn">Sign-Up</span>
  </div>
</div>

<section>
  <div class="shim"></div>
  <div class="sign-in-form"><%= render "home/signin_form" %></div>
  <div class="sign-up-form"><%= render "home/signup_form" %></div>
</section>


</body>
