<div class="wrapper">
<h1>Make a Motto</h1>

<%= form_for [user, motto] do |f| %>
  <p><%= f.text_field :body, placeholder: "Create a motto for the week, month, or life!", required: true %></p>
  <%= f.submit %>
<% end %>
<p><%= link_to "Return", user_path(user) %></p>
</div>
