.sign-in-btn {
  position: relative;
  width: 64.016px;
  height: 32px;
  line-height: 30px;
  padding: 0 25.6px;
  font-weight: 500;
  border-radius: 50px;
  color: #74C496;
  background-color: #FAFDFB;
  border: 4px solid #2DA660;

  &:hover {
    color: #2DA660;
  }
}

.sign-up-btn {
  position: relative;
  width: 64.016px;
  height: 32px;
  line-height: 30px;
  padding: 0 25.6px;
  font-weight: 500;
  border-radius: 50px;
  color: #74C496;
  background-color: #FAFDFB;
  border: 4px solid #2DA660;

  &:hover {
    color: #2DA660;
  }
}
