input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #FAFDFB;
  color: #444;
  border: 1px solid #2EC66E;
}

/* .sign-in-btn {
  position: relative;
  width: 64.016px;
  height: 32px;
  line-height: 30px;
  padding: 0 25.6px;
  font-weight: 500;
  border-radius: 50px;
  color: #74C496;
  background-color: #FAFDFB;
  border: 4px solid #2DA660;

  &:hover {
    color: #2DA660;
  }
}

.sign-up-btn {
  position: relative;
  width: 64.016px;
  height: 32px;
  line-height: 30px;
  padding: 0 25.6px;
  font-weight: 500;
  border-radius: 50px;
  color: #74C496;
  background-color: #FAFDFB;
  border: 4px solid #2DA660;

  &:hover {
    color: #2DA660;
  }
} */

.sign-in-btn {
  background-color: #9FDCCE;
  color: #107771;
  box-shadow: 1px 0px 0 #8BC9BB, 0px 1px 0 #5CB4A0, 2px 1px 0 #8BC9BB, 1px 2px
  0 #5CB4A0, 3px 2px 0 #8BC9BB, 2px 3px 0 #5CB4A0, 4px 3px 0 #8BC9BB, 3px 4px
  0 #5CB4A0, 5px 4px 0 #8BC9BB, 4px 5px 0 #5CB4A0, 6px 5px 0 #8BC9BB, 5px 6px
  0 #5CB4A0, 7px 6px 0 #8BC9BB, 6px 7px 0 #5CB4A0, 8px 7px 0 #8BC9BB, 7px 8px
  0 #5CB4A0, 9px 8px 0 #8BC9BB, 12px 11px 9px rgba(0,0,0,0.2);
  font-size: 30px;
  font-family: "Steelfish", "Times", serif;
  padding: 12px 20px;
  zoom: 1;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
}

.sign-up-btn {
  background-color: #9FDCCE;
  color: #107771;
  box-shadow: 1px 0px 0 #8BC9BB, 0px 1px 0 #5CB4A0 , 2px 1px 0 #8BC9BB, 1px 2px
  0 #5CB4A0, 3px 2px 0 #8BC9BB, 2px 3px 0 #5CB4A0, 4px 3px 0 #8BC9BB, 3px 4px
  0 #5CB4A0, 5px 4px 0 #8BC9BB, 4px 5px 0 #5CB4A0, 6px 5px 0 #8BC9BB, 5px 6px
  0 #5CB4A0, 7px 6px 0 #8BC9BB, 6px 7px 0 #5CB4A0, 8px 7px 0 #8BC9BB, 7px 8px
  0 #5CB4A0, 9px 8px 0 #8BC9BB, 12px 11px 9px rgba(0,0,0,0.2);
  font-size: 30px;
  font-family: "Steelfish", "Times", serif;
  padding: 12px 20px;
  zoom: 1;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
}

.habit-btn {
  background-color: #9FDCCE;
  color: #107771;
  box-shadow: 1px 0px 0 #8BC9BB, 0px 1px 0 #5CB4A0, 2px 1px 0 #8BC9BB, 1px 2px
  0 #5CB4A0, 3px 2px 0 #8BC9BB, 2px 3px 0 #5CB4A0, 4px 3px 0 #8BC9BB, 3px 4px
  0 #5CB4A0, 5px 4px 0 #8BC9BB, 4px 5px 0 #5CB4A0, 6px 5px 0 #8BC9BB, 5px 6px
  0 #5CB4A0, 7px 6px 0 #8BC9BB, 6px 7px 0 #5CB4A0, 8px 7px 0 #8BC9BB, 7px 8px
  0 #5CB4A0, 9px 8px 0 #8BC9BB, 12px 11px 9px rgba(0,0,0,0.2);
  font-size: 30px;
  font-family: "Steelfish", "Times", serif;
  padding: 12px 20px;
  zoom: 1;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);

  a {
    color: #107771;
    text-decoration: none;
  }
}

.motto-btn {
  background-color: #9FDCCE;
  color: #107771;
  box-shadow: 1px 0px 0 #8BC9BB, 0px 1px 0 #5CB4A0, 2px 1px 0 #8BC9BB, 1px 2px
  0 #5CB4A0, 3px 2px 0 #8BC9BB, 2px 3px 0 #5CB4A0, 4px 3px 0 #8BC9BB, 3px 4px
  0 #5CB4A0, 5px 4px 0 #8BC9BB, 4px 5px 0 #5CB4A0, 6px 5px 0 #8BC9BB, 5px 6px
  0 #5CB4A0, 7px 6px 0 #8BC9BB, 6px 7px 0 #5CB4A0, 8px 7px 0 #8BC9BB, 7px 8px
  0 #5CB4A0, 9px 8px 0 #8BC9BB, 12px 11px 9px rgba(0,0,0,0.2);
  font-size: 30px;
  font-family: "Steelfish", "Times", serif;
  padding: 12px 20px;
  zoom: 1;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);

  a {
    color: #107771;
    text-decoration: none;
  }
}
