.sign-in-form {
  display: none;
  height: 40%;
  width: 40%;
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 20px;
  border: 10px solid #F2F2F2;
  background-color: #FFF;
}
