.headline {
  font-size: 1.5em;
}

.tutorial {
  font-family: "steelfish_rgregular", "Times", serif;
  font-size: 2em;
  letter-spacing: 0.01em;
  color: #107771;
  width: 85%;
}

.instructions-box {
  width: 100%;
  border-top: 1px solid #FDFDFD;
  border-bottom: 1px solid #FDFDFD;
}

.instruction {
  width: 30%;
  max-height: 250px;
  float: left;
  margin: 0 5px 0 5px;
  padding: 0 5px 0 5px;
}

#center-instruction {
  padding-left: 15px;
}
