// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.landing-page {
  background-color: #C3DFED;
  height: 100vh;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  color: #FFF;
}
