body {
  width: 100%;

}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6em;
  font-weight: 300;
  color: #FAFDFB;
  margin: 0 25px;
}

h2 {
  font-family: "Steelfish", "Times", serif;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  color: #FAFDFB;
}

a {
  text-decoration: none;
  font-family: "Steelfish", "Times", serif;
  color: #107771;
}

.shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(1, 2, 2, 0.67);
}

.delete {
  text-align: right;
  text-decoration: none;
  color: #D74242;
}

.breadcrumb-bar {
  position: absolute;
  top: 10px;
  right: 100px;
  font-family: "Steelfish", "Times", serif;
  font-size: 1.5em;
}
