body {
  width: 100%;

}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 6em;
  font-weight: 300;
  color: #FAFDFB;
  text-shadow: 1px 0px 0 #BBDFC7, 0px 1px 0 #8DC6A0, 2px 1px 0 #BBDFC7, 1px 2px
  0 #8DC6A0, 3px 2px 0 #BBDFC7, 2px 3px 0 #8DC6A0, 4px 3px 0 #BBDFC7, 3px 4px 0
  #8DC6A0, 5px 4px 0 #BBDFC7, 4px 5px 0 #8DC6A0, 6px 5px 9px rgba(0,0,0,0.2);;
  margin: 0 55px;
}

h2 {
  font-family: "Steelfish", "Times", serif;
  font-size: 3em;
  font-weight: 300;
  text-transform: uppercase;
  color: #FAFDFB;
}

a {
  text-decoration: none;
  font-family: "Steelfish", "Times", serif;
  color: #107771;
}

.shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(1, 2, 2, 0.67);
}

.delete {
  text-align: right;
  text-decoration: none;
  color: #D74242;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-bar {
  position: absolute;
  top: 10px;
  right: 100px;
  font-family: "Steelfish", "Times", serif;
  font-size: 1.5em;
}

.key-term {
  color: #004943;
}

.greeting {
  color: #004943;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
}
