body {
  width: 100%;

}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3em;
  font-weight: 300;
  color: #FAFDFB;
}

.shim {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(1, 2, 2, 0.67);
}
