body {
  background-color: #98D0AF;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.mottos-box {
  font-family: "Steelfish", "Times", serif;
  font-size: 40px;
  color: #107771;
}

.habits-box {
  font-family: "Steelfish", "Times", serif;
  font-size: 30px;
  color: #107771;
}

.delete a {
  font-family: "Steelfish", "Times", serif;
  font-size: 18px;
  text-decoration: none;
  color: #D74242;
}
